*{

margin:0;

padding:0;

box-sizing:border-box;

}


body{


background-image:url("img/ATL.jpg");

background-size:cover;

background-position:center;

background-repeat:no-repeat;

min-height:100vh;

padding:20px;

color:rgb(95, 94, 94);

}




/* CABECERA */

header{

display:flex;

align-items:center;

gap:40px;

margin-bottom:80px;

}



.logo-contenedor{

display:flex;

align-items:center;

gap:10px;

color:aliceblue

}


.logo-contenedor img{

width:45px;

height:45px;

}



.info{

padding:25px;

background:rgba(0,0,0,.55);

backdrop-filter:blur(4px);

border-radius:15px;

width:600px;

}



.info h1{

margin-bottom:15px;

}





/* CONTENEDOR HEXAGONO */

.contenedor{

position:relative;

width:700px;

height:700px;

margin:auto;

color:black

}




/* CENTRO */

.centro{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

width:230px;

height:230px;

border-radius:50%;

overflow:hidden;

}


.centro img{

width:100%;

height:100%;

object-fit:cover;

}




/* IMAGENES PEQUEÑAS */

.pequena{

position:absolute;

width:120px;

height:120px;

border-radius:50%;

overflow:hidden;

}


.pequena img{

width:100%;

height:100%;

object-fit:cover;

}



.pequena span{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

background:rgba(255, 255, 255, 0.5);

padding:8px;

border-radius:10px;

font-size:14px;

}



/* POSICIONES HEXAGONO */

.arriba{

top:30px;

left:50%;

transform:translateX(-50%);

}


.arriba-der{

top:150px;

right:70px;

}


.abajo-der{

bottom:150px;

right:70px;

}


.abajo{

bottom:30px;

left:50%;

transform:translateX(-50%);

}


.abajo-izq{

bottom:150px;

left:70px;

}


.arriba-izq{

top:150px;

left:70px;

}




/* BOTON */

.boton{

display:block;

width:max-content;

margin:50px auto;

text-decoration:none;

color:rgb(0, 0, 0);

font-size:22px;

padding:15px 25px;

background:rgba(255, 255, 255, 0.55);

border-radius:15px;

}